*{
    box-sizing:border-box;
}

html{
    font-size: calc(1em + 1vw);
}

body{
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef

}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;

}
.search-btn{
    align-items: flex-start;
}

header h1{
    margin:0;
}

header button{

}

main {
    flex:1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
