* {
    box-sizing:border-box;
}

html {
    font-size: calc(1em + 1vw);
}

body{
    display:flex;
    flex-direction:column;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    min-height: 100vh;
    background-color: #efefef;
}

#grid-forside {
    display:grid;
    grid-template-areas: "top" "content" "bottom";
    margin:0;
    padding:0;
    overflow:hidden;
}

header {
    grid-area:top;
    border-bottom: 1.5px solid #000000;
    padding:15px;
}

.nav-section-desktop{
    display:none;
}


.menu section{
    display: flex;
    justify-content: space-between; /*Sprer elementene jevnt ut i header. De første elementene i HTML starter mot venstre*/
    align-items:baseline; /*Setter alle elementene langs samme linje*/
}

.menu section nav{
    display:flex;
    gap:1em;
    
}

.menu section nav input{
    display:none;
}

.menu-desktop section{
    display:flex;
    justify-content: space-between;
    align-items:baseline;

}

.menu-desktop section nav{
    display:flex;
    gap:1em;

}

.menu-desktop section img{
    width:160px;

}

.menu-desktop{
    display:none;
}


.logo {
    text-decoration:none;
    color: #DDF15C;
    -webkit-text-stroke-color:#000000;
    -webkit-text-stroke-width:1.3px;
    font-size:30px;
    font-style:normal;
    font-weight:400;
}


main {
    grid-area:content;
    padding:20px;
    flex:1;
}

.nav-article nav{
    display:flex;
    justify-content:space-between;
    position:absolute;
    top: 175px;
    left:50%;
    transform:translateX(-50%);
    
}

/*innhold forside*/
.default-flex{
    display:flex;
    flex-direction:column;
}

.default-flex article {
    text-align:center;
    position:relative;
    margin-bottom:15px;
}

.default-flex article img {
    max-width: 100%;
}

.default-flex article h2 {
    position:absolute;
    top:10px;
    left:50%;
    transform:translateX(-50%);
    font-size:26px;
    color:#efefef;
}

#main-article p{
    position:absolute;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    font-size:26px;

}

.default-flex article h3 {
    position:absolute;
    top:-10px;
    left:50%;
    transform:translateX(-50%); /*foreslått av chatGPT for å sentrere elementer. X i translateX vil si X-aksen, som verdien i parentesen flytter elementet langs.*/
    font-size:26px;
}

footer {
    grid-area:bottom;
    background-color:#333;
    color:#fff;
    text-align:center;
    padding:10px;
}


.footer-content {
    display:inline-block;
    list-style-type:none;
    padding:0;
}

/*Produktside start*/
#grid-produkt{
    display:grid;
    grid-template-areas: "top" "content" "bottom";
    margin:0;
    padding:0;
    overflow:hidden;

}

.handlekurv-flex{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    grid-area:content;

}


#breadcrumbs{
    list-style:none;
    display:inline-flex;
    gap:10px;
    font-size:16px;
    padding:0;

}

.produkt{
    flex-wrap:wrap;
    align-items:center;
}

#preview{
    display: flex;
    justify-content: center;
    padding-top:10px;
    gap:15px;
}

.produkt nav{
    text-align:center;
}

.produkt span{
    text-align:left;
}

#size-btn{
    display:flex;
    justify-content:space-around;
    gap:30px;
    list-style: none;
    padding:0;
}

#size-btn button{
    background-color:#D9D9D9;
    border:none;
    font-size:30px;

}

.produkt a button{
    background-color:#80C866;
    border:none;
    height:40px;
}

/*Produktside end*/


/*Handlekurv start*/
/*Handlekurv end*/

@media (min-width:700px) {
    #grid-forside{
        grid-template-areas: "top top top" "content content content" "bottom bottom bottom";
    }

    #grid-produkt{
        grid-template-areas: "top top top" "content content content" "bottom bottom bottom"
    }
    .logo{
        font-size:48px;
    }
    .menu{
        display:none;
    }
    .menu-desktop{
        display:block;
        padding:10px;
        border-bottom: 1.5px solid;
    }

    header{
        padding:0;
    }

    .nav-article{
        display:none;
    }

    .articles{
        flex-grow:1;
    }

    .nav-section-desktop{
        display:flex;
        list-style-type:none;
        align-content:start;
        margin:0;
        padding:0;
        gap:30px;
        font-size:20px;
        margin-left:5px;
    }

    .nav-section-desktop{
        padding:5px;
    }



    .default-flex{
        grid-area:content;
        justify-content:center;
        display:flex;
    }

    footer nav ul li{
        display:inline-flex;

    }

}