*{
    box-sizing:border-box;
}

html{
    font-size: calc(1em + 1vw);
}

body{
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #efefef

}

header{
    text-align:center;
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    border-bottom: 1.5px solid #000000;

}

.header-btn{
    border:none;
    padding:10px 20px;
    border-radius: 5px;
    cursor:pointer;
    font-size:16px;

}

main {
    flex:1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (min-width: 768px) {
    header {
        justify-content: space-around;
    }


}